<div class="contenedor">
    <div class="puntuacion1">{{posicion1}}</div>
    <div class="puntuacion2">{{posicion2}}</div>
    <ul class="eventos1" >
        <li *ngFor="let item of eventos1"> {{item}}</li>
    </ul>
    <ul class="eventos2" >
        <li *ngFor="let item2 of eventos2"> {{item2}}</li>
    </ul>
    <div class="tablero">
        <div class="ficha1" [ngClass] = "getFicha1Class()"></div>
        <div class="ficha2" [ngClass] = "getFicha2Class()"></div>
        <div class="c1 casillas"></div>
        <div class="c2 casillas"></div>
        <div class="c3 casillas"></div>
        <div class="c4 casillas"></div>
        <div class="c5 casillas"></div>
        <div class="c6 casillas"></div>
        <div class="c7 casillas"></div>
        <div class="c8 casillas"></div>
        <div class="c9 casillas"></div>
        <div class="c10 casillas"></div>
        <div class="c11 casillas"></div>
        <div class="c12 casillas"></div>
        <div class="c13 casillas"></div>
        <div class="c14 casillas"></div>
        <div class="c15 casillas"></div>
        <div class="c16 casillas"></div>
        <div class="c17 casillas"></div>
        <div class="c18 casillas"></div>
        <div class="c19 casillas"></div>
        <div class="c20 casillas"></div>
        <div class="c21 casillas"></div>
        <div class="c22 casillas"></div>
        <div class="c23 casillas"></div>
        <div class="c24 casillas"></div>
        <div class="c25 casillas"></div>
        <div class="c26 casillas"></div>
        <div class="c27 casillas"></div>
        <div class="c28 casillas"></div>
        <div class="c29 casillas"></div>
        <div class="c30 casillas"></div>
        <div class="c31 casillas"></div>
        <div class="c32 casillas"></div>
        <div class="c33 casillas"></div>
        <div class="c34 casillas"></div>
        <div class="c35 casillas"></div>
        <div class="c36 casillas"></div>
        <div class="c37 casillas"></div>
        <div class="c38 casillas"></div>
        <div class="c39 casillas"></div>
        <div class="c40 casillas"></div>
        <div class="c41 casillas"></div>
        <div class="c42 casillas"></div>
        <div class="c43 casillas"></div>
        <div class="c44 casillas"></div>
        <div class="c45 casillas"></div>
        <div class="c46 casillas"></div>
        <div class="c47 casillas"></div>
        <div class="c48 casillas"></div>
        <div class="c49 casillas"></div>
        <div class="c50 casillas"></div>
        <div class="c51 casillas"></div>
        <div class="c52 casillas"></div>
        <div class="c53 casillas"></div>
        <div class="c54 casillas"></div>
        <div class="c55 casillas"></div>
        <div class="c56 casillas"></div>
        <div class="c57 casillas"></div>
        <div class="c58 casillas"></div>
        <div class="c59 casillas"></div>
        <div class="c60 casillas"></div>
        <div class="c61 casillas"></div>
        <div class="c62 casillas"></div>
        <div class="c63 casillas"></div>
        <!------------------------------->
        <div class="c1_2 casillas"></div>
        <div class="c2_2 casillas"></div>
        <div class="c3_2 casillas"></div>
        <div class="c4_2 casillas"></div>
        <div class="c5_2 casillas"></div>
        <div class="c6_2 casillas"></div>
        <div class="c7_2 casillas"></div>
        <div class="c8_2 casillas"></div>
        <div class="c9_2 casillas"></div>
        <div class="c10_2 casillas"></div>
        <div class="c11_2 casillas"></div>
        <div class="c12_2 casillas"></div>
        <div class="c13_2 casillas"></div>
        <div class="c14_2 casillas"></div>
        <div class="c15_2 casillas"></div>
        <div class="c16_2 casillas"></div>
        <div class="c17_2 casillas"></div>
        <div class="c18_2 casillas"></div>
        <div class="c19_2 casillas"></div>
        <div class="c20_2 casillas"></div>
        <div class="c21_2 casillas"></div>
        <div class="c22_2 casillas"></div>
        <div class="c23_2 casillas"></div>
        <div class="c24_2 casillas"></div>
        <div class="c25_2 casillas"></div>
        <div class="c26_2 casillas"></div>
        <div class="c27_2 casillas"></div>
        <div class="c28_2 casillas"></div>
        <div class="c29_2 casillas"></div>
        <div class="c30_2 casillas"></div>
        <div class="c31_2 casillas"></div>
        <div class="c32_2 casillas"></div>
        <div class="c33_2 casillas"></div>
        <div class="c34_2 casillas"></div>
        <div class="c35_2 casillas"></div>
        <div class="c36_2 casillas"></div>
        <div class="c37_2 casillas"></div>
        <div class="c38_2 casillas"></div>
        <div class="c39_2 casillas"></div>
        <div class="c40_2 casillas"></div>
        <div class="c41_2 casillas"></div>
        <div class="c42_2 casillas"></div>
        <div class="c43_2 casillas"></div>
        <div class="c44_2 casillas"></div>
        <div class="c45_2 casillas"></div>
        <div class="c46_2 casillas"></div>
        <div class="c47_2 casillas"></div>
        <div class="c48_2 casillas"></div>
        <div class="c49_2 casillas"></div>
        <div class="c50_2 casillas"></div>
        <div class="c51_2 casillas"></div>
        <div class="c52_2 casillas"></div>
        <div class="c53_2 casillas"></div>
        <div class="c54_2 casillas"></div>
        <div class="c55_2 casillas"></div>
        <div class="c56_2 casillas"></div>
        <div class="c57_2 casillas"></div>
        <div class="c58_2 casillas"></div>
        <div class="c59_2 casillas"></div>
        <div class="c60_2 casillas"></div>
        <div class="c61_2 casillas"></div>
        <div class="c62_2 casillas"></div>
        <div class="c63_2 casillas"></div>
    </div>
</div>
<button (click)="turnos()" class="tirarDado"><span class="button_top">Tirar Dado</span></button>